html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.backButton{
	background-image: url('backArrow.png');
	float: left;
	width: 30px;
	height: 30px;
	margin: 10px;
	background-color: transparent;
	border: 0;
}